# Development only. Run pnpm dev:setup to generate a local secret.
DATABASE_URL=postgresql://kuanki:kuanki_dev_only@db:5432/kuanki
PAYLOAD_SECRET=
SITE_ENV=preview
CONTENT_SOURCE=cms
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
